@mixin align-items($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

//layout btn
@mixin layout-btn {
    padding: 15px 60px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

@mixin hover-btn-effect($bg-btn-color, $font-color) {
    background-color: $bg-btn-color;
    color: $font-color;
    transform: scale(1.2);
}
