.about {
  background-image: linear-gradient(to right, #fdd99780, rgba(72, 82, 117, 0.144) 70.71%);
  background-color: $third-color;
  padding: 80px 0;
  
  &-container {
    @include align-items(flex, unset, unset);
    max-width: 1300px;
    margin: 0 auto;

    @include resize-screen(1500px) {
      max-width: 85%;
    }

    @include tablet {
      flex-direction: column-reverse;
    }
    
    &--descrip {
      width: $width-flexbox;
      padding-right: 60px;
      
      @include normal-desktop {
        padding-right: 40px;
      }

      @include tablet {
        width: 100%;
        padding: 0;
      }

      h2 {
        font-size: $font-size-h2;
        margin-bottom: 30px;
        color: $primary-font-color;

        @include tablet {
          text-align: center;
        }

        @include mobile {
          font-size: 38px;
        }
      }

      .paragraph {
        text-align: justify;
        font-size: $font-size-text;
        color: $secondary-font-color;

        @include resize-screen(1370px) {
          font-size: 17px;
        }

      }
    }

    &--img {
      width: $width-flexbox;
      @include align-items(flex, center, center);

      @include tablet {
        width: 100%;
        padding-bottom: 50px;
      }

      img {
        width: 95%;
        border-radius: 30px;
        box-shadow: -5px 5px 7px rgba(128, 128, 128, 0.473);

        @include tablet {
          width: 90%;
        }
      }
    }
  }
}