//defining googlefonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,100&display=swap');
@import './mixins-extends/responsive-design';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  background-image: url(../images/lisbon-bridge.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  @include tablet {
    background-position: top;
    background-attachment: scroll;
    background-size: 200%;
  }

  @include landscape {
    background-position: 53% -180px;
    background-size: 300%;
  }

  @include mobile {
    background-size: 400%;
    background-position: 53% 0;
    //background-position: center 80%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
