.footer {
    padding: 80px 0 0 0;
    background-color: #47403e;

    .display-footer {
        display: flex;
        padding-bottom: 130px;

        @include landscape {
            display: block;
            margin: 30px 15px;
            padding-bottom: 0;
        }
        
        div {
            margin: 0 20px;
            color: #fff;

            @include landscape {
                margin: 0 0 40px 50px;
                font-size: 13px;
            }

            @include mobile {
                margin: 0 0 60px 5px;
            }

            h4 {
                margin-bottom: 30px;
                font-size: 15px;

                @include landscape {
                    margin-bottom: 20px;
                    display: 13px;
                }
            }    
        }

        .location {
            width: 180px;

            span {
                display: block;
            }

            span {
                line-height: 27px;
         
                @include resize-screen(930px) {
                    font-size: 13px;
                }              
            }
        }

        .general-information {
            width: 300px;  
        }

        .social-links {
 
            h4 {
                margin-left: 5px;
            }

            .fa-brands {
                font-size: 35px;
                margin: 7px;
                transition: .4s ease;
                cursor: pointer;

                &:hover {
                    color: $secondary-color;
                    transform: scale(1.31);
                }
            }
        }
    }

    .payment {
        background-color: #fff;
        text-align: center;

        img {
            width: 700px;

            @include landscape {
                width: 400px;
            }

            @include mobile {
                width: 350px;
            }

            @include resize-screen(370px) {
                width: 280px;
            }
        }       
    }

    .developer {
        padding: 40px 0;
        border-top: 1px solid #252525;
        text-align: center;
        color: #fff;

        @include landscape {
            font-size: 13px;
        }

        a {
            color: #F7941F;
            transition: .4s ease;

            &:hover {
                color: #fff;
            }
        }
    }
}