.header {
    
    @include align-items(flex, space-between, center);
    animation: roar 2500ms ease;
    // animation header
    @keyframes roar {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @include normal-desktop {
        max-width: 80%;
    }

    img {
        width: 200px;

        @include resize-screen(1180px) {
            width: 150px;
        }

        @include mobile {
            width: 100px;
        }
    
    }

    .nav-bar {
        @include align-items(flex, center, center);
        

        .menu {
            display: flex;
            color: #fff;

            li {
                padding: 15px;
                transition: .4s ease;

                &:hover {
                    background-color: rgba(228, 125, 29, 0.884);
                    border-radius: 10px;
                }

                @include resize-screen(1180px) {
                    font-size: 14px;
                }
            }

            @include tablet {
                display: none;
            }
        }

        // responsive menu bars - mobile
        .menu-bars {
            background-color: $secondary-color;
            color: #fff;
            font-size: 45px;
            padding: 5px 13px;
            border-radius: 10px;
            cursor: pointer;
            transition: .4s all;
            display: none;

            &:hover {
                background-color: $primary-color;
            }

            @include tablet {
                display: flex;
            }

            @include landscape {
                font-size: 37px;
            }

            @include mobile {
                font-size: 30px;
            }
        }

        .cover {
            background-image: linear-gradient( to bottom, $primary-color, orange 200.71%);
            position: fixed;
            right: 0%;
            top: -100%;
            width: 100%;
            height: 100vh;
            visibility: hidden;
            opacity: 0;
            z-index: 4;
            transition: 500ms ease-in-out all;

            .btn-close {
                position: absolute;
                right: 40px;
                top: 10px;
                border-radius: 10px;
                background-color: $secondary-color;
                cursor: pointer;

                .fa-solid {
                    font-size: 35px;
                    padding: 5px 10px;
                    color: #fff;
                }
            }

            .menu {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: 100%;

                .menu-bars-list {
                    color: #fff;
                    width: 100%;
                    text-align: center;   

                    li {
                        font-size: 24px;
                        padding: 25px 0;
                        border: 1px solid #09043b1f;
                    }
                }
            }

        }

        .open {
            top: 0;
            right: 0;
            opacity: 1;
            visibility: visible;
            display: flex;
        }
    }
}