.header {
    @include align-items(flex, space-between, center);
    animation: roar 2500ms ease;
    // animation header
    @keyframes roar {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @include normal-desktop {
        max-width: 80%;
    }

    img {
        width: 200px;

        @include resize-screen(1180px) {
            width: 150px;
        }
    
    }

    .nav-bar {
        @include align-items(flex, center, center);

        .menu {
            display: flex;
            color: #fff;

            li {
                padding: 15px;
                transition: .4s ease;

                &:hover {
                    background-color: rgba(228, 125, 29, 0.253);
                    border-radius: 10px;
                }

                @include resize-screen(1180px) {
                    font-size: 14px;
                }
            }

            @include tablet {
                display: none;
            }
        }

        .menu-bars {
            background-color: $secondary-color;
            color: #fff;
            font-size: 50px;
            padding: 5px 13px;
            border-radius: 20px;
            cursor: pointer;
            transition: .4s all;
            display: none;

            &:hover {
                background-color: $primary-color;
            }

            @include tablet {
                display: flex;
            }
        }
    }
}