.container-home {
    //background-image: linear-gradient(to right, #11192580, rgba(83, 84, 88, 0.096) 70.71%);
    @include align-items(flex, flex-start, unset);
    height: 100vh;

    @include tablet {
        height: auto;
        padding: 0 0 100px 0;
    }

    @include mobile {
        padding: 40px 0 100px 0;
    }

    .introduction-title {
        width: 60%;
        padding: 120px 0;

        @include resize-screen(950px) {
            width: 100%;
            padding: 60px 0;
        }

        /*@include resize-screen(545px) {
            text-align: center
        }*/

        h1 {
            font-size: 55px;
            color: #fff;
            animation: roar 1000ms ease;
            // animation title
            @keyframes roar {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            @include resize-screen(1160px) {
                font-size: 50px;
            }

            // predisposition to tablet mode
            @include resize-screen(1060px) {
                font-size: 45px;
            }

            @include landscape {
                font-size: 43px;
            }

            @include mobile {
                font-size: 33px;
                padding: 30px 0
            }

            
        }

        .btn-call-to-action {
            @include layout-btn;
            margin-top: 25px;
            background-color: $primary-color;
            color: #fff;
            cursor: pointer;
            transition: .4s ease;
            animation: roar 1000ms ease;
            // animation button
            @keyframes roar {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            
            &:hover {
                @include hover-btn-effect($secondary-color);
                color: $primary-color;
            }

            i {
                padding-left: 7px;
            }

            @include mobile {
                padding: 15px 30px;
            }
        }
    }
}