.home {
  padding: 200px 0;
  @include align-items(flex, unset, unset);
  max-width: 1300px;
  margin: 0 auto;

  @include resize-screen(1500px) {
    max-width: 85%;
  }

  @include resize-screen(930px) {
    padding: 180px 0;
  }

  @include landscape {
    padding: 130px 0;
  }

  &-title {
    width: $width-flexbox;

    @include resize-screen(1420px) {
      width: 60%;
    }

    @include resize-screen(1082px) {
      width: 65%;
    }

    @include tablet {
      width: 70%;
    }

    @include resize-screen(850px) {
      width: 78%;
    }

    @include landscape {
      width: 100%;
    }

    @include mobile {
      width: 95%;
      padding: 100px 0;
    }

    @include resize-screen(440px) {
      width: 100%;
    }

    h1 {
      font-size: 60px;
      text-align: start;
      color: $third-color;
      text-shadow: 0 0 5px #839fac;

      @include normal-desktop {
        font-size: 55px;
      }

      @include tablet {
        font-size: 50px;
      }

      @include landscape {
        font-size: 40px;
      }

      @include resize-screen(440px) {
        font-size: 45px;
      }
    }

    button {
      @include layout-btn;
      background-color: $primary-color;
      color: $third-color;
      margin: 23px 0;
      transition: $transition-effect;

      &::after {
        content: "\f5b0";
        font: var(--fa-font-solid);
        padding-left: 14px;
      }

      &:hover {
        @include hover-btn-effect($secondary-color, $primary-color);
      }

      @include landscape {
        padding: 15px 40px;
        font-size: 17px;
      }
    }
  }
}