.service {
  background-image: linear-gradient(to right, #fdd99780, rgba(72, 82, 117, 0.144) 70.71%);
  background-color: $third-color;
  padding: 80px 0;

  &-title {
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;

    @include resize-screen(1500px) {
      max-width: 85%;
    }
    
    h2 {
      font-size: $font-size-h2;
      color: $primary-font-color;
      padding-bottom: 40px;

      @include mobile {
        font-size: 38px;
      }
    }

    &--container {
      display: flex;

      @include tablet {
        flex-direction: column;
      }

      .service-list {
        width: $width-flexbox;

        @include tablet {
          width: 100%;
        }
        
        li {
          @include align-items(flex, flex-start, center);
          font-size: $font-size-text;
          color: $secondary-font-color;
          font-weight: 600;
          margin-bottom: 15px;

          &::before {
            content: "\f058";
            font-family: 'Font Awesome 6 Free';
            color: #007500;
            font-size: 40px;
            padding-right: 14px;
          }

          @include resize-screen(1180px) {
            font-size: 17px;
          }

          @include tablet {
            font-size: 26px;
          }

          @include landscape {
            font-size: 20px;
            text-align: start;
          }
        }

        .bonus {
          padding: 15px 0;
          text-align: start;

          li {
            color: #b10101;
            flex-wrap: wrap;

            &::before {
              content: "\f058";
              font-family: 'Font Awesome 6 Free';
              color: #007500;
              font-size: 40px;
              padding-right: 14px;
            }

            span {
              padding-left: 55px;
              font-size: $font-size-text;
              color: $secondary-font-color;
            }

            @include tablet {
              font-size: 26px;
            }
          } 
        }

        
      }

      .service-negotiation {
        width: $width-flexbox;
        @include align-items(flex, center, center);
        flex-direction: column;

        @include tablet {
          width: 100%;
        }

        .price {
          text-align: center;

          h3 {
            font-size: 30px;
            margin: 20px;
            color: $primary-font-color;

            @include mobile {
              font-size: 26px;
            }
          }

          span {
            font-size: $font-size-text;
            color: $secondary-font-color;
            font-weight: 600;
          }
        }
      }

      button {
        @include layout-btn;
        background-color: $secondary-color;
        color: $primary-color;
        margin: 60px 0;
        transition: $transition-effect;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        animation: pulse-black 2s infinite;

        @keyframes pulse-black {
          0% {
            -webkit-transform: scale(0.95);  
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 166, 0, 0.658);
          }

          70% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
          }

          100% {
            -webkit-transform: scale(0.95);
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          }
        }

        &::after {
          content: "\f5b0";
          font: var(--fa-font-solid);
          padding-left: 14px;
        }

        &:hover {
          @include hover-btn-effect($primary-color, $third-color);
        }

        @include landscape {
          padding: 15px 40px;
          font-size: 17px;
        }
      }
    }
  }
}