.bg-section {
    background-color: #fff;

    .display-support {
        @include align-items(flex, center, center);

        @include landscape {
            display: block;
            text-align: center;
        }

        li {
            width: 330px;
            height: 350px;
            padding: 20px;
            margin: 0 20px;
            text-align: center;
            color: $secondary-font-color;
            transition: .5s ease-in-out;

            &:hover {
                box-shadow: -2px 2px 10px #cccccc;
                border-radius: 20px;
                transform: scale(1.1);
                background-color: $primary-color;
                color: #fff;

                @include landscape {
                    transform: unset;
                }
                
                h4 {
                    color: #fff;
                }
            }

            @include tablet {
                padding: 10px;
            }

            @include landscape {
                text-align: center;
                width: 200px;
                height: 300px;
                margin: 15px auto;

            }

            .icon {
                margin-bottom: 10px;

                .fa-solid {
                    font-size: 80px;
                    background-color: $primary-color;
                    color: #fff;
                    padding: 40px;
                    border-radius: 100%;

                    @include tablet {
                        font-size: 50px;
                    }
                }
            }

            h4 {
                margin-bottom: 20px;
                color: $primary-font-color;
            }

            p {
                font-size: 15px;
                font-weight: 600;

                @include tablet {
                    font-size: 13px;
                }
            }
        }
    }
}