.support {
  background-color: $third-color;
  padding: 80px 0;  

  &-container {
    max-width: 1300px;
    margin: 0 auto;

    @include resize-screen(1500px) {
      max-width: 85%;
    }
    
    &--title {
      text-align: center;
      padding: 60px 0;
  
      h2 {
        font-size: $font-size-h2;
        color: $primary-font-color;
        margin-bottom: 20px;

        @include mobile {
          font-size: 38px;
        }
      }
  
      .subtext {
        font-size: $font-size-text;
        color: $secondary-font-color;
      }
    }

    &--display {
      @include align-items(flex, space-between, center);
      width: 100%;
      height: 200px;
      perspective: 1000px;
      margin: 5px;

      @include tablet {
        display: none;
      }

      .card-img {
        width: 250px;
        height: 270px;
        margin: 7px;
        cursor: pointer;
        
        &:hover .flipper {
          transition: all 0.6s ;
          -webkit-transform: rotateY(180deg);    
                  transform: rotateY(180deg);
          background-color: $primary-color;
          border-radius: 20px;
          box-shadow: -2px 2px 10px #bdbcbc;
        }

        .flipper{
          width: 100%;
          height: 100%;
          -webkit-transform-style: preserve-3d;
                  transform-style: preserve-3d;
          transition: transform 0.4s;
          color: #fff;
          position: relative;

          .back {
            -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);
            padding: 15px;
            text-align: center;
            display: flex;
            flex-direction: column;
    
            h4 {
              margin-bottom: 30px;
            }
          }
      
          .front, .back {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 20px;
      
            .fa-solid {
              font-size: 80px;
              color: #fff;
              padding: 50px;
              background-color: $primary-color;
              border-radius: 100%;

              @include resize-screen(1150px) {
                font-size: 60px;
              }
            }
          }
        }
      }
    }

    &--mobile {
      display: none;
      
      @include tablet {
        color: $third-color;
        display: flex;
        justify-content: center;
        text-align: center;
      }

      @include resize-screen(900px) {
        flex-direction: column;
      }

      .support-card-img {
        height: 400px;
        margin: 10px;
        cursor: pointer;
        -webkit-transition: .4s ease;
                transition: .4s ease;
        color: $primary-font-color;

        @include resize-screen(900px) {
          width: 60%;
          margin: 20px auto;
          
        }

        @include mobile {
          width: 80%;
          font-weight: 500;
        }

        .fa-solid {
          font-size: 50px;
          padding: 50px;
          margin: 20px;
          border-radius: 100%;
          color: $third-color;
          background-color: $primary-color;

          @include resize-screen(900px) {
            font-size: 70px;
          }
        }

        .support-description {
          margin: 10px;
          -webkit-transition: .4s ease;
                  transition: .4s ease;

          &:hover {
            color: $third-color;
          }

          h4 {
            @include resize-screen(900px) {
              margin-bottom: 15px;
              font-size: 26px;
            }
          }

          p {
            font-weight: 600;
          }
          
        }

        &:hover {
          color: $third-color;
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
          border-radius: 20px;
          background-color: $primary-color;
          box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.486);
        }
      }
    }
  }
}