//font-size
$font-size-h2: 50px;
$font-size-text: 20px;

//color
$primary-color: #27215f;
$secondary-color: #F7941F;
$third-color: #fff;
$primary-font-color: #242424;
$secondary-font-color: #464545;

//page width
$width-flexbox: 50%;

//transition effect 
$transition-effect: .4s ease;