//font-size
$font-size-h2: 45px;
$font-size-text: 20px;

//color
$primary-color: #27215f;
$secondary-color: #F7941F;
$primary-font-color: #242424;
$secondary-font-color: #464545;

//page width
$width-flexbox: 50%;