@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
  background-image: url(../images/lisbon-bridge.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
@media (max-width: 1024px) {
  body {
    background-position: top;
    background-attachment: scroll;
    background-size: 200%;
  }
}
@media (max-width: 768px) {
  body {
    background-position: 53% -180px;
    background-size: 300%;
  }
}
@media (max-width: 480px) {
  body {
    background-size: 400%;
    background-position: 53% 0;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100vw;
  -webkit-animation: roar 2000ms ease;
  animation: roar 2000ms ease;
}
@-webkit-keyframes roar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes roar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-navbar {
  min-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1500px) {
  .header-navbar {
    min-width: 85%;
  }
}
.header-navbar img {
  width: 200px;
  padding-top: 5px;
}
@media (max-width: 800px) {
  .header-navbar img {
    width: 130px;
  }
}
.header-navbar--menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-navbar--menu {
    display: none;
  }
}
.header-navbar--menu li {
  padding: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  transition: 0.4s ease;
}
.header-navbar--menu li:hover {
  background-color: #F7941F;
  padding: 15px 20px;
}
.header-navbar--menu li a {
  font-weight: 700;
  color: #27215f;
  transition: 0.4s ease;
  text-shadow: 0 0 5px #fff;
}
.header-navbar--menu li a:hover {
  color: #27215f;
  font-weight: 600;
}
.header-navbar--bars {
  display: none;
  background-color: #F7941F;
  color: #fff;
  font-size: 45px;
  padding: 5px 13px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s all;
}
.header-navbar--bars:hover {
  background-color: #27215f;
}
@media (max-width: 1024px) {
  .header-navbar--bars {
    display: flex;
  }
}
@media (max-width: 800px) {
  .header-navbar--bars {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .header-navbar--bars {
    font-size: 37px;
  }
}
@media (max-width: 480px) {
  .header-navbar--bars {
    font-size: 27px;
  }
}
.header-navbar .cover {
  background-image: linear-gradient(to bottom, #27215f, #030113 180.71%);
  position: fixed;
  right: 0%;
  top: -100%;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  transition: 500ms ease-in-out all;
}
.header-navbar .cover .btn-close {
  position: absolute;
  right: 40px;
  top: 10px;
  border-radius: 10px;
  background-color: #F7941F;
  cursor: pointer;
}
.header-navbar .cover .btn-close .fa-solid {
  font-size: 35px;
  padding: 5px 10px;
  color: #fff;
}
.header-navbar .cover .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.header-navbar .cover .menu .menu-bars-list {
  color: #fff;
  width: 100%;
  text-align: center;
}
.header-navbar .cover .menu .menu-bars-list li {
  text-transform: uppercase;
  font-size: 24px;
  padding: 25px 0;
  border: 1px solid #09043b1f;
  transition: 0.4s ease;
}
.header-navbar .cover .menu .menu-bars-list li:hover {
  background-color: #F7941F;
  border-radius: 20px;
}
.header-navbar .open {
  top: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  display: flex;
}

.menuColorized {
  background-color: #ffffffc2;
  -webkit-animation: dropDown 1000ms ease-in-out;
  animation: dropDown 1000ms ease-in-out;
}

@-webkit-keyframes dropDown {
  0% {
    height: 10px;
  }
  100% {
    height: 12%;
  }
}
@keyframes dropDown {
  0% {
    height: 10px;
  }
  100% {
    height: 12%;
  }
}
.home {
  padding: 200px 0;
  display: flex;
  justify-content: unset;
  align-items: unset;
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .home {
    max-width: 85%;
  }
}
@media (max-width: 930px) {
  .home {
    padding: 180px 0;
  }
}
@media (max-width: 768px) {
  .home {
    padding: 130px 0;
  }
}
.home-title {
  width: 50%;
}
@media (max-width: 1420px) {
  .home-title {
    width: 60%;
  }
}
@media (max-width: 1082px) {
  .home-title {
    width: 65%;
  }
}
@media (max-width: 1024px) {
  .home-title {
    width: 70%;
  }
}
@media (max-width: 850px) {
  .home-title {
    width: 78%;
  }
}
@media (max-width: 768px) {
  .home-title {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .home-title {
    width: 95%;
    padding: 100px 0;
  }
}
@media (max-width: 440px) {
  .home-title {
    width: 100%;
  }
}
.home-title h1 {
  font-size: 60px;
  text-align: start;
  color: #fff;
  text-shadow: 0 0 5px #839fac;
  -webkit-animation: roar 2000ms ease;
  animation: roar 2000ms ease;
}
@-webkit-keyframes roar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes roar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1280px) {
  .home-title h1 {
    font-size: 55px;
  }
}
@media (max-width: 1024px) {
  .home-title h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .home-title h1 {
    font-size: 40px;
  }
}
@media (max-width: 440px) {
  .home-title h1 {
    font-size: 45px;
  }
}
.home-title button {
  padding: 15px 60px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #27215f;
  color: #fff;
  margin: 23px 0;
  transition: 0.4s ease;
}
.home-title button::after {
  content: "\f5b0";
  font: var(--fa-font-solid);
  padding-left: 14px;
}
.home-title button:hover {
  background-color: #F7941F;
  color: #27215f;
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .home-title button {
    padding: 15px 40px;
    font-size: 17px;
  }
}

.about {
  background-image: linear-gradient(to right, #fdd99780, rgba(72, 82, 117, 0.144) 70.71%);
  background-color: #fff;
  padding: 80px 0;
}
.about-container {
  display: flex;
  justify-content: unset;
  align-items: unset;
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .about-container {
    max-width: 85%;
  }
}
@media (max-width: 1024px) {
  .about-container {
    flex-direction: column-reverse;
  }
}
.about-container--descrip {
  width: 50%;
  padding-right: 60px;
}
@media (max-width: 1280px) {
  .about-container--descrip {
    padding-right: 40px;
  }
}
@media (max-width: 1024px) {
  .about-container--descrip {
    width: 100%;
    padding: 0;
  }
}
.about-container--descrip h2 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #242424;
}
@media (max-width: 1024px) {
  .about-container--descrip h2 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .about-container--descrip h2 {
    font-size: 38px;
  }
}
.about-container--descrip .paragraph {
  text-align: justify;
  font-size: 20px;
  color: #464545;
}
@media (max-width: 1370px) {
  .about-container--descrip .paragraph {
    font-size: 17px;
  }
}
.about-container--img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .about-container--img {
    width: 100%;
    padding-bottom: 50px;
  }
}
.about-container--img img {
  width: 95%;
  border-radius: 30px;
  box-shadow: -5px 5px 7px rgba(128, 128, 128, 0.473);
}
@media (max-width: 1024px) {
  .about-container--img img {
    width: 90%;
  }
}

.travel {
  background: url(../images/discovers.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.travel-mask {
  padding: 80px 0;
  background-image: linear-gradient(to right, #FFF, #f5f5f5e7 40.71%, rgba(83, 84, 88, 0), rgba(83, 84, 88, 0));
}
@media (max-width: 768px) {
  .travel-mask {
    background-image: linear-gradient(to right, #FFF, #f5f5f565 40.71%, rgba(83, 84, 88, 0), rgba(83, 84, 88, 0));
  }
}
.travel-mask--container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 1500px) {
  .travel-mask--container {
    width: 85%;
  }
}
.travel-mask--container .travel-mask--title {
  width: 50%;
  line-height: 60px;
}
@media (max-width: 1500px) {
  .travel-mask--container .travel-mask--title {
    width: 60%;
  }
}
@media (max-width: 1280px) {
  .travel-mask--container .travel-mask--title {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .travel-mask--container .travel-mask--title {
    width: 75%;
  }
}
@media (max-width: 590px) {
  .travel-mask--container .travel-mask--title {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .travel-mask--container .travel-mask--title {
    line-height: 45px;
  }
}
.travel-mask--container .travel-mask--title h2 {
  font-size: 50px;
  color: #242424;
}
.travel-mask--container .travel-mask--title h2 span {
  color: #F7941F;
  display: block;
}
@media (max-width: 768px) {
  .travel-mask--container .travel-mask--title h2 {
    font-size: 45px;
    padding-bottom: 80px;
  }
}
@media (max-width: 480px) {
  .travel-mask--container .travel-mask--title h2 {
    font-size: 38px;
  }
}
.travel-mask--container .travel-mask-cta {
  padding: 30px 0;
}
.travel-mask--container .travel-mask-cta p {
  line-height: 30px;
  font-size: 20px;
  color: #464545;
  text-shadow: 0 0 10px #fff;
}
@media (max-width: 590px) {
  .travel-mask--container .travel-mask-cta p {
    padding-right: 20%;
  }
}
.travel-mask--container .travel-mask-cta p .airlins {
  font-size: 26px;
  font-weight: 600;
  color: #27215f;
}
@media (max-width: 768px) {
  .travel-mask--container .travel-mask-cta p {
    font-size: 19px;
    line-height: 30px;
  }
}
.travel-mask--container .travel-mask-cta button {
  padding: 15px 60px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 50px 0;
  background-color: #F7941F;
  color: #27215f;
  transition: 0.4s ease;
  transform: scale(1.1);
  -webkit-animation: pulse-black 2s infinite;
          animation: pulse-black 2s infinite;
}
@-webkit-keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 166, 0, 0.658);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 166, 0, 0.658);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.travel-mask--container .travel-mask-cta button::after {
  content: "\f5b0";
  font: var(--fa-font-solid);
  padding-left: 14px;
}
.travel-mask--container .travel-mask-cta button:hover {
  background-color: #27215f;
  color: #fff;
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .travel-mask--container .travel-mask-cta button {
    padding: 15px 40px;
    font-size: 17px;
  }
}

.works {
  background-color: #27215f;
  padding: 80px 0;
}
.works-container {
  display: flex;
  justify-content: unset;
  align-items: unset;
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .works-container {
    max-width: 85%;
  }
}
@media (max-width: 1024px) {
  .works-container {
    display: flex;
    flex-direction: column;
  }
}
.works-container--article {
  width: 50%;
  color: #fff;
}
@media (max-width: 1024px) {
  .works-container--article {
    width: 100%;
  }
}
.works-container--article .works-title {
  padding-bottom: 40px;
}
.works-container--article .works-title h2 {
  font-size: 50px;
}
@media (max-width: 1024px) {
  .works-container--article .works-title h2 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .works-container--article .works-title h2 {
    font-size: 38px;
  }
}
.works-container--article p {
  line-height: 25px;
  padding: 0 60px 60px 0;
  text-align: justify;
  font-size: 20px;
}
@media (max-width: 1100px) {
  .works-container--article p {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .works-container--article p {
    padding: 0 0 60px 0;
  }
}
.works-container--article .works-footer button {
  padding: 15px 60px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #F7941F;
  color: #27215f;
  transition: 0.4s ease;
}
.works-container--article .works-footer button::after {
  content: "\f5b0";
  font: var(--fa-font-solid);
  padding-left: 14px;
}
.works-container--article .works-footer button:hover {
  background-color: #168657;
  color: #fff;
  transform: scale(1.2);
}
@media (max-width: 1024px) {
  .works-container--article .works-footer button {
    display: none;
  }
}
.works-container--depoiments {
  width: 50%;
}
@media (max-width: 1024px) {
  .works-container--depoiments {
    width: 100%;
  }
}
.works-container--depoiments iframe {
  border-radius: 20px;
  width: 100%;
  height: 340px;
}
.works-container--depoiments .btn-responsive {
  width: 100%;
  display: none;
  color: #fff;
  font-size: 18px;
  padding: 30px;
}
@media (max-width: 1024px) {
  .works-container--depoiments .btn-responsive {
    display: block;
    text-align: center;
  }
}
.works-container--depoiments .btn-responsive p {
  padding-bottom: 15px;
}
.works-container--depoiments .btn-responsive button {
  padding: 15px 60px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #F7941F;
  color: #27215f;
  transition: 0.4s ease;
  margin: 20px 0;
}
.works-container--depoiments .btn-responsive button::after {
  content: "\f5b0";
  font: var(--fa-font-solid);
  padding-left: 14px;
}
.works-container--depoiments .btn-responsive button:hover {
  background-color: #168657;
  color: #fff;
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .works-container--depoiments .btn-responsive button {
    padding: 15px 40px;
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .works-container--depoiments .btn-responsive button {
    padding: 15px 30px;
    font-size: 17px;
  }
}

.service {
  background-image: linear-gradient(to right, #fdd99780, rgba(72, 82, 117, 0.144) 70.71%);
  background-color: #fff;
  padding: 80px 0;
}
.service-title {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .service-title {
    max-width: 85%;
  }
}
.service-title h2 {
  font-size: 50px;
  color: #242424;
  padding-bottom: 40px;
}
@media (max-width: 480px) {
  .service-title h2 {
    font-size: 38px;
  }
}
.service-title--container {
  display: flex;
}
@media (max-width: 1024px) {
  .service-title--container {
    flex-direction: column;
  }
}
.service-title--container .service-list {
  width: 50%;
}
@media (max-width: 1024px) {
  .service-title--container .service-list {
    width: 100%;
  }
}
.service-title--container .service-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  color: #464545;
  font-weight: 600;
  margin-bottom: 15px;
}
.service-title--container .service-list li::before {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  color: #007500;
  font-size: 40px;
  padding-right: 14px;
}
@media (max-width: 1180px) {
  .service-title--container .service-list li {
    font-size: 17px;
  }
}
@media (max-width: 1024px) {
  .service-title--container .service-list li {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .service-title--container .service-list li {
    font-size: 20px;
    text-align: start;
  }
}
.service-title--container .service-list .bonus {
  padding: 15px 0;
  text-align: start;
}
.service-title--container .service-list .bonus li {
  color: #b10101;
  flex-wrap: wrap;
}
.service-title--container .service-list .bonus li::before {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  color: #007500;
  font-size: 40px;
  padding-right: 14px;
}
.service-title--container .service-list .bonus li span {
  padding-left: 55px;
  font-size: 20px;
  color: #464545;
}
@media (max-width: 1024px) {
  .service-title--container .service-list .bonus li {
    font-size: 26px;
  }
}
.service-title--container .service-negotiation {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .service-title--container .service-negotiation {
    width: 100%;
  }
}
.service-title--container .service-negotiation .price {
  text-align: center;
}
.service-title--container .service-negotiation .price h3 {
  font-size: 30px;
  margin: 20px;
  color: #242424;
}
@media (max-width: 480px) {
  .service-title--container .service-negotiation .price h3 {
    font-size: 26px;
  }
}
.service-title--container .service-negotiation .price span {
  font-size: 20px;
  color: #464545;
  font-weight: 600;
}
.service-title--container button {
  padding: 15px 60px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #F7941F;
  color: #27215f;
  margin: 60px 0;
  transition: 0.4s ease;
  transform: scale(1.1);
  -webkit-animation: pulse-black 2s infinite;
          animation: pulse-black 2s infinite;
}
@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 166, 0, 0.658);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.service-title--container button::after {
  content: "\f5b0";
  font: var(--fa-font-solid);
  padding-left: 14px;
}
.service-title--container button:hover {
  background-color: #27215f;
  color: #fff;
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .service-title--container button {
    padding: 15px 40px;
    font-size: 17px;
  }
}

.destin {
  background-color: #fff;
  padding: 80px 0;
}
@media (max-width: 480px) {
  .destin {
    padding: 40px 0;
  }
}
.destin-container {
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .destin-container {
    max-width: 85%;
  }
}
.destin-container--title {
  text-align: center;
}
.destin-container--title h2 {
  font-size: 50px;
  color: #242424;
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  .destin-container--title h2 {
    font-size: 38px;
  }
}
.destin-container--title span {
  font-size: 20px;
  color: #464545;
}
.destin-container--carrousel {
  display: flex;
  margin: 30px auto;
  overflow: hidden;
  max-width: 1100px;
}
@media (max-width: 1280px) {
  .destin-container--carrousel {
    max-width: 100%;
  }
}
.destin-container--carrousel .container-carrousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}
.destin-container--carrousel .container-carrousel .box-destin {
  -o-object-fit: cover;
     object-fit: cover;
  width: 290px;
  height: 350px;
  border-radius: 20px;
  box-shadow: -1px 1px 8px #757575;
  margin: 10px 15px;
}
.destin-container--carrousel .container-carrousel .box-destin img {
  width: 100%;
  height: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 1px 8px #757575;
}
.destin-container--carrousel .container-carrousel .box-destin .info-travel {
  margin: 20px;
}
@media (max-width: 768px) {
  .destin-container--carrousel .container-carrousel .box-destin .info-travel {
    margin: 10px;
  }
}
.destin-container--carrousel .container-carrousel .box-destin .info-travel h3 {
  font-size: 20px;
  font-weight: 600;
  color: #464545;
}
@media (max-width: 1145px) {
  .destin-container--carrousel .container-carrousel .box-destin .info-travel h3 {
    font-size: 17px;
  }
}
@media (max-width: 880px) {
  .destin-container--carrousel .container-carrousel .box-destin .info-travel h3 {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .destin-container--carrousel .container-carrousel .box-destin .info-travel h3 {
    font-size: 12px;
  }
}
@media (max-width: 1280px) {
  .destin-container--carrousel .container-carrousel .box-destin {
    width: 270px;
    height: 330px;
  }
}
@media (max-width: 1145px) {
  .destin-container--carrousel .container-carrousel .box-destin {
    width: 260px;
    height: 320px;
  }
}
@media (max-width: 1044px) {
  .destin-container--carrousel .container-carrousel .box-destin {
    width: 240px;
    height: 300px;
  }
}
@media (max-width: 880px) {
  .destin-container--carrousel .container-carrousel .box-destin {
    width: 210px;
    height: 270px;
  }
}
@media (max-width: 700px) {
  .destin-container--carrousel .container-carrousel .box-destin {
    width: 190px;
    height: 250px;
  }
}
@media (max-width: 480px) {
  .destin-container--carrousel .container-carrousel .box-destin {
    width: 160px;
    height: 220px;
  }
}
@media (max-width: 370px) {
  .destin-container--carrousel .container-carrousel .box-destin {
    width: 157px;
    height: 217px;
  }
}

.support {
  background-color: #fff;
  padding: 0 0 80px 0;
}
.support-container {
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .support-container {
    max-width: 85%;
  }
}
.support-container--title {
  text-align: center;
  padding: 60px 0;
}
.support-container--title h2 {
  font-size: 50px;
  color: #242424;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .support-container--title h2 {
    font-size: 38px;
  }
}
.support-container--title .subtext {
  font-size: 20px;
  color: #464545;
}
.support-container--display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /*-webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;*/
  margin: 5px;
}
@media (max-width: 1024px) {
  .support-container--display {
    display: none;
  }
}
.support-container--display .card-img {
  width: 250px;
  height: 270px;
  margin: 7px;
  cursor: pointer;
}
.support-container--display .card-img .face {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 270px;
  perspective: 700px;
}
.support-container--display .card-img .face .front {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 30px;
  transition: 700ms;
  background-color: #27215f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.support-container--display .card-img .face .front .fa-solid {
  font-size: 80px;
  color: #fff;
  padding: 40px;
  background-color: #27215f;
  border-radius: 100%;
}
.support-container--display .card-img .face .back {
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.473);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 30px;
  transition: 700ms;
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #27215f;
  color: #fff;
  text-align: center;
}
.support-container--display .card-img .face .back h4 {
  margin-bottom: 30px;
}
.support-container--display .card-img .face:hover .front {
  transform: rotateY(180deg);
  z-index: 0;
}
.support-container--display .card-img .face:hover .back {
  transform: rotateY(0);
  z-index: 1;
}
.support-container--mobile {
  display: none;
}
@media (max-width: 1024px) {
  .support-container--mobile {
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .support-container--mobile {
    flex-direction: column;
  }
}
.support-container--mobile .support-card-img {
  height: 400px;
  margin: 10px;
  cursor: pointer;
  transition: 0.4s ease;
  color: #242424;
}
@media (max-width: 900px) {
  .support-container--mobile .support-card-img {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .support-container--mobile .support-card-img {
    width: 80%;
    font-weight: 500;
  }
}
.support-container--mobile .support-card-img .fa-solid {
  font-size: 50px;
  padding: 50px;
  margin: 20px;
  border-radius: 100%;
  color: #fff;
  background-color: #27215f;
}
@media (max-width: 900px) {
  .support-container--mobile .support-card-img .fa-solid {
    font-size: 70px;
  }
}
.support-container--mobile .support-card-img .support-description {
  margin: 10px;
  transition: 0.4s ease;
}
@media (max-width: 900px) {
  .support-container--mobile .support-card-img .support-description h4 {
    margin-bottom: 15px;
    font-size: 26px;
  }
}
.support-container--mobile .support-card-img .support-description p {
  font-weight: 600;
}
.support-container--mobile .support-card-img.hover {
  background-color: #27215f;
  color: #fff;
  border-radius: 20px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.486);
}

.footer {
  padding: 80px 0 0 0;
  background-color: #0D0B20;
  color: #fff;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 60px 80px 60px;
}
@media (max-width: 850px) {
  .footer-container {
    flex-direction: column;
    padding: 0 80px 80px 80px;
  }
}
.footer-container--information {
  width: 50%;
}
@media (max-width: 850px) {
  .footer-container--information {
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
  }
}
.footer-container--information .social {
  padding-bottom: 30px;
}
.footer-container--information .social h4 {
  font-size: 23px;
  margin-bottom: 5px;
}
@media (max-width: 850px) {
  .footer-container--information .social h4 {
    font-size: 27px;
  }
}
@media (max-width: 480px) {
  .footer-container--information .social h4 {
    font-size: 17px;
  }
}
.footer-container--information .contacts span {
  display: block;
  line-height: 25px;
}
@media (max-width: 850px) {
  .footer-container--information .contacts span {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  .footer-container--information .contacts span {
    font-size: 17px;
  }
}
.footer-container--social-links {
  text-align: center;
}
.footer-container--social-links h4 {
  margin-left: 5px;
  font-size: 23px;
}
.footer-container--social-links .fa-brands {
  font-size: 35px;
  margin: 10px;
  transition: 0.4s ease;
  cursor: pointer;
}
.footer-container--social-links .fa-brands:hover {
  color: #F7941F;
  transform: scale(1.31);
  text-shadow: 0 0 5px #F7941F;
}
.footer-payment {
  background-color: #fff;
  text-align: center;
}
.footer-payment img {
  width: 700px;
}
@media (max-width: 768px) {
  .footer-payment img {
    width: 400px;
  }
}
@media (max-width: 480px) {
  .footer-payment img {
    width: 350px;
  }
}
@media (max-width: 370px) {
  .footer-payment img {
    width: 280px;
  }
}
.footer-developer {
  padding: 30px 0;
  border-top: 1px solid #252525;
  text-align: center;
  color: #fff;
}
@media (max-width: 768px) {
  .footer-developer {
    font-size: 13px;
  }
}
.footer-developer a {
  color: #F7941F;
  transition: 0.4s ease;
}
.footer-developer a:hover {
  color: #fff;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #27215f;
  box-shadow: 0 0 7px greenyellow;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 150px;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  -webkit-animation: shake 1.5s infinite;
          animation: shake 1.5s infinite;
}
@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media (max-width: 768px) {
  .whatsapp {
    width: 100px;
  }
}
.whatsapp .logo-whatsapp {
  width: 50px;
  position: absolute;
  left: -25px;
  bottom: 6px;
}
@media (max-width: 768px) {
  .whatsapp .logo-whatsapp {
    width: 30px;
  }
}
.whatsapp p {
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 768px) {
  .whatsapp p {
    font-size: 10px;
    margin-left: 10px;
  }
}

.box-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 166, 0, 0.397);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease-in-out;
}
@media (max-width: 768px) {
  .box-link {
    width: 100%;
  }
}
.box-link .modal-links {
  width: 380px;
  height: 300px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
}
.box-link .modal-links .btn-close-modal {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: red;
  color: #fff;
  padding: 7px 12px;
  border-radius: 100%;
  cursor: pointer;
}
.box-link .modal-links .fa-brands {
  font-size: 60px;
  background-color: #27215f;
  box-shadow: -2px 2px 10px gray;
  color: #fff;
  padding: 5px 10px;
  border-radius: 7px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .box-link .modal-links .fa-brands {
    font-size: 35px;
  }
}
.box-link .modal-links h4 {
  color: #fff;
  left: 50px;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  position: absolute;
}
@media (max-width: 768px) {
  .box-link .modal-links h4 {
    font-size: 17px;
  }
}
.box-link .modal-links span {
  font-size: 18px;
  text-align: center;
  color: #464545;
}
@media (max-width: 768px) {
  .box-link .modal-links span {
    font-size: 15px;
  }
}
.box-link .modal-links .contact-btn {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  margin-top: 20px;
}
.box-link .modal-links .contact-btn a {
  background-color: #1c9e1c;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .box-link .modal-links .contact-btn a {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .box-link .modal-links {
    width: 300px;
    height: 250px;
  }
}

.box-link.open-modal {
  left: 0;
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=main.css.map */